{% extends 'layout2.html' %}
{% block styles %}
<style>td {border: unset;padding-left: 10px;}th{padding-left: 10px;}</style>
{% endblock %}
{% block content %}
<div class="row">
    <div class="col-2">
    </div>
    <div class="col-8">
        <h1>Resultado da pesquisa: {{ q }}</h1> Cerca de {{ len_rows }} resultados</br>
            {% for show_hidden in shows %}
            <li>
                <p>
                    <b>
                    <a href="{% url 'requisicoes:index' %}?ano={{show_hidden.1.ano}}&nr={{show_hidden.1.nr}}&secao={{show_hidden.1.secao}}">
                    Requisição Nr {{show_hidden.1.nr}} da {{show_hidden.1.secao}} de {{show_hidden.1.ano}}
                    </a>
                    <span class="text-muted"> • {{ show_hidden.1.resumo }} • {{ show_hidden.1.valido }}</span>
                    <i>{{ show_hidden.0 }}</i>
                </p>
            </li>
            {% endfor %}
        {{pass}}
    </div>
</div>

{% endblock %}
{% block scripts %}
<script>
    hide();
    if("{{ msg }}"){console.warn("{{ msg }}");}
</script>
{% endblock %}
